<div class="ui fixed inverted menu">
    <div class="ui container">
        {{#link-to "developers" class="item"}}
            Developpeurs
        {{/link-to}}
    </div>
  </div>


{{!-- {{#link-to "developers"}}
    Developpeurs
{{/link-to}} --}}

{{outlet}}